<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * Copyright (c) 2014 Textmaster
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * It is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Addonline
 * @package     Textmaster_Textmaster
 * @copyright   Copyright (c) 2014 Textmaster
 * @author 	    Addonline (http://www.addonline.fr)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * Textmaster_Textmaster
 *
 * @category    Addonline
 * @package     Textmaster_Textmaster
 * @copyright   Copyright (c) 2014 Textmaster
 * @author 	    Addonline (http://www.addonline.fr)
 */
  -->
<config>

	<modules>
		<Textmaster_Textmaster>
			<version>1.0.3</version>
		</Textmaster_Textmaster>
	</modules>
	<global>
		<helpers>
            <textmaster><class>Textmaster_Textmaster_Helper</class></textmaster>            
        </helpers>
        <blocks>
    		<textmaster><class>Textmaster_Textmaster_Block</class></textmaster>    		
    	</blocks>
    	<models>
    		<textmaster>
    			<class>Textmaster_Textmaster_Model</class>
    			<resourceModel>textmaster_mysql4</resourceModel>
    		</textmaster>
			<textmaster_mysql4>
                <class>Textmaster_Textmaster_Model_Mysql4</class>
                <entities>
                    <project>
                        <table>textmaster_project</table>
                    </project>
                    <document>
                    	<table>textmaster_document</table>
                    </document>
                    <project_attribute>
                    	<table>textmaster_project_attribute</table>
                    </project_attribute>
                </entities>
            </textmaster_mysql4>
    	</models>
		<resources>
            <textmaster_setup>
                <setup>
                    <module>Textmaster_Textmaster</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </textmaster_setup>
            <textmaster_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </textmaster_write>
            <textmaster_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </textmaster_read>
        </resources>
   		<events>
            <adminhtml_block_html_before>
                <observers>
                    <textmaster_product_translate_hook>
                        <type>singleton</type>
                        <class>textmaster/observer</class>
                        <method>_productCreateBlock</method>
                    </textmaster_product_translate_hook>
                </observers>
            </adminhtml_block_html_before>
        </events>       
    </global>
    <admin>
        <routers>
			<textmaster>
				<use>admin</use>
				<args>
					<module>Textmaster_Textmaster</module>
					<frontName>textmaster</frontName>
				</args>
			</textmaster>
        </routers>
    </admin>
    <adminhtml>
    	<menu>
           <textmaster translate="title" module="textmaster">
				<title>TextMaster</title>
				<sort_order>100</sort_order> 
	               <children>		
					<projet translate="title" module="textmaster">
						<title>Manage Projects</title>
						<action>textmaster/adminhtml_project</action>              
					</projet>
					<config translate="title" module="textmaster">
						<title>Configuration</title>
						<action>adminhtml/system_config/edit/section/textmaster</action>              
					</config>
				</children>
			</textmaster>
		</menu>
    	<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<textmaster translate="title" module="textmaster">
	                        <title>Textmaster</title>
	                        <sort_order>65</sort_order>
	                        <children>
	                            <projet translate="title">
	                                <title>Manage Projects</title>
	                            </projet>
	                            <config translate="title">
	                                <title>Configuration</title>
	                            </config>
	                        </children>	                        
	                   </textmaster>					
						<system>
            	            <children>
                	            <config>
                    	            <children>
                        	            <textmaster translate="title">
                            	            <title>Textmaster section</title>
                                	        <sort_order>100</sort_order>
                                    	</textmaster>                                    	
	                                </children>
    	                        </config>
        	                </children>
            	        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<textmaster>
					<file>textmaster.xml</file>
				</textmaster>
			</updates>
		</layout>
		<api>
			<documents>
				<send>
					<nb>20</nb>
				</send>
			</documents>
			<sandbox>0</sandbox>
			<staging>0</staging>
		</api>
		<translate>
	        <modules>
	            <Textmaster_Textmaster>
	                <files>
	                    <default>Textmaster_Textmaster.csv</default>
	                </files>
	            </Textmaster_Textmaster>
	        </modules>
	    </translate>
    </adminhtml>
    <frontend>   
        <routers>
            <textmaster>
                <use>standard</use>
                <args>
                    <module>Textmaster_Textmaster</module>
                    <frontName>textmaster</frontName>
                </args>
            </textmaster>
        </routers>              
    </frontend>
    <default>
		<textmaster>
			<defaultvalue>
				<category>C019</category><!-- Commerce -->
			</defaultvalue>
		</textmaster>
	</default>
</config>
